@import "../Styles/colorVariables";
@import "../querryBreakpoints";

footer {
  background-color: $white-black-900;
  margin-top: 50px;
  width: 100%;

  .inner-div {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    .main-container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 30px;
      align-items: center;
      .logo-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        .circles {
          display: flex;
          align-items: center;
          .circle-left {
            color: $white-purple-700;
            font-size: 3rem;
          }
          .circle-right {
            color: $white-black-500;
            font-size: 3rem;
            position: relative;
            right: 2.4rem;
            opacity: 0.5;
          }
          h1 {
            margin-left: -2.8rem;
            font-weight: bold;
            color: $white-black-200;
          }
        }

        p {
          color: $white-black-300;
          font-size: 1.2rem;
          text-align: center;
          margin: 1rem 0;
        }
      }
      .ul-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .ul-container-first-pair {
          display: flex;
          gap: 1.5rem;
        }
        .ul-container-second-pair {
          display: flex;
          gap: 1.5rem;
        }
        ul {
          display: flex;
          flex-direction: column;
          align-items: start;

          gap: 1.1rem;
          li {
            list-style: none;
            color: $white-black-300;
            opacity: 0.8;
            font-size: 1.3rem;
            &:nth-child(1) {
              font-size: 1rem;
              color: $white-black-400;
            }
            span {
              background-color: $white-black-100;
              color: $white-black-800;
              border-radius: 40%;
              font-weight: 500;
              font-size: 12px;
              padding: 3px 5px;
            }
          }
        }
      }
    }
    .social-media-container {
      margin: 0 auto;
      padding: 50px 0 30px 0;
      color: $white-black-400;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      p {
        font-size: 1.03rem;
      }
      .social-media-icons {
        display: flex;
        gap: 30px;
        font-size: 1.5rem;
      }
    }
  }
}
@media screen and (min-width: $tablet-size) {
  footer {
    .inner-div {
      .main-container {
        display: flex;
        flex-direction: row;
        align-items: start;

        .logo-header {
          display: flex;
          flex-direction: column;
          align-items: start;
          p{
            text-align: left;
          }
        }
        .ul-container {
          display: flex;
          flex-direction: row;
        }
      }
      .social-media-container {
        color: $white-black-400;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: $laptop-size) {
  footer {
    .inner-div {
      .main-container {
        display: flex;
        flex-direction: row;
        align-items: start;
        .logo-header {
          display: flex;
          flex-direction: column;
          align-items: start;
          p {
          
            font-size: 1.5rem;
          }
        }
        .ul-container {
          display: flex;
          flex-direction: row;
          gap: 0;
          width: 100%;
          .ul-container-first-pair {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
          }
          .ul-container-second-pair {
            display: flex;
            justify-content: space-evenly;

            width: 100%;
            
          }
          ul {
            li {
              font-size: 1.5rem;
              span {
                background-color: white;
                color: black;
                border-radius: 35%;
                font-weight: 500;
                font-size: 1.5rem;
                padding: 3px 7px;
                
              }
            }
          }
        }
      }
      .social-media-container {
        p {
          font-size: 1.3rem;
        }
        .social-media-icons {
          display: flex;
          gap: 30px;
          font-size: 2rem;
        }
      }
    }
  }
}
